@using TripItinerary.Models
@model Trip

@{
    ViewBag.Title = "Trip";
}

<h2>Trip</h2>

<div>
    @using (Html.BeginForm("Create", "Trip", FormMethod.Post))
    {
        @:Name: @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
        <input type="submit" value="Create"/>
    }
</div>